{% extends "store/base.html" %}
{% load static %}

{% block style %}
<style>
    img {
        {#background: transparent;#}
        {#border-radius: 3px;#}
        margin: 20px 550px 200px 220px;
        {#border: 1px solid #eee;#}
        {#box-shadow: 0 2px 2px grey;#}
        {#padding: 15px;#}
        {#width: 70%;#}
    }
</style>
{% endblock style %}

{% block content %}
    <img src="{% static 'store/image/under_construction.png' %}" width="700" height="550" class="center-image">
{% endblock content %}
