{% extends "base.html" %}
<style>
    .mr-2 {
        text-transform: capitalize;
    }
    .text-muted {
        text-transform: capitalize;
    }
</style>

{% block content %}
<div class="container">
    <div class="col-lg-12 col-md-6 mb-4 d-flex">
        <div class="card h-40 w-100">
            <div class="card-body  justify-content-center">
                <h4 class="card-title">
                    <a class="mr-2" href="#">{{ store.store_name }}</a>
                </h4>
                <small class="text-muted">{{ store.city }}</small>
                <small class="text-muted ml-4">Mobile: {{ store.mobile }}</small>
                <p class="card-text">{{store.description}}</p>
                {% if store.owner_id == user.id %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'store-update' store.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'store-delete' store.id %}">Delete</a>
                    <a class="btn btn-primary btn-sm mt-1 mb-1" href="/products/create">Add Product</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class=row>
            {% for product in products %}
                {% if store.id == product.store_id %}
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="view overlay">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="image-{{product.title}}" height='100px' width='50px'/>
                                {% else %}
                                    <img src="http://placehold.it/700x400" class="card-img-top" alt="image-{{product.title}}" height='100px' width='50px'/>
                                {% endif %}
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <a class="grey-text" href="{{ product.get_absolute_url }}">
                                    <h5 class="card-title">
                                        <a class="dark-grey-text" href="{{ product.get_absolute_url }}">{{ product.title }} </a>
                                    </h5>
                                </a>
                                <p>
                                    {{ product.description }}
                                </p>
                                <h5>
                                    ${{ product.price }}
                                </h5>
                                <button class="btn btn-primary btn-sm my-0 p" type="submit">Add to cart
                                    <i class="fas fa-shopping-cart ml-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!{{ product.id }}- <a href="{{ product.get_absolute_url }}"><!{{ product.title }}</a>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="img-responsive" alt="image-{{product.title}}"/>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}